<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>farmApp | <%= product.name %>の詳細ページ</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <ul>
      <li>価格: <%= product.price %>円</li>
      <li>カテゴリ: <%= product.category %></li>
    </ul>
    <a href="/products">商品一覧へ戻る</a>
    <a href="/products/<%= product.id %>/edit">編集</a>
  </body>
</html>
